<nav class="navbar navbar-cocktails">
  <a class="navbar-brand">Mr Cocktail</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Cocktail Name" aria-label="Search">

    <td><%= link_to 'New Cocktail', new_cocktail_path, class: 'btn btn-success' %></td>
  </form>
</nav>
